table{
  width: 100%;
  padding: auto;
  margin-left: 10px;
  margin-right: 10px;
}
#edit-icon{
  color: rgb(98, 98, 255);
}
#delete-icon{
  color: red;
}
button{
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  position: relative;
  left:90%;
}
