<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Course Title</mat-label>
    <input matInput placeholder="Enter Course Title" formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date Debut</mat-label>
    <input
      matInput
      placeholder="Enter Start Date"
      formControlName="dateDebut"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date Fin</mat-label>
    <input matInput placeholder="Enter End Date" formControlName="dateFin" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Place</mat-label>
    <input matInput placeholder="Enter Place" formControlName="place" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button id="close" (click)="close()">Close</button>
  <button id="save" (click)="save()">Save</button>
</mat-dialog-actions>
