<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Course Title</mat-label>
    <input matInput placeholder="Enter Course Title" formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput
           [matDatepicker]="pickerStart"
           formControlName="dateDebut"
           placeholder="Start date">
    <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput
           [matDatepicker]="pickerEnd"
           formControlName="dateFin"
           placeholder="End date">
    <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Place</mat-label>
    <input matInput placeholder="Enter Place" formControlName="place" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button id="close" (click)="close()">Close</button>
  <button id="save" (click)="save()">Save</button>
</mat-dialog-actions>
