<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="cin" placeholder="cin">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="cin" placeholder="cin">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="nom" placeholder="name">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="type" placeholder="type">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="createdDate" placeholder="createdDate">
  </mat-form-field>
</p>
<p>
  <button id="submit" type="submit">Submit</button>
  <button id="cancel" routerLink="/">Cancel</button>
</p>
</form>
