<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="cin" placeholder="cin">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="name" placeholder="name">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="type" placeholder="type">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <input matInput formControlName="createdDate" placeholder="createdDate">
  </mat-form-field>
</p>
<p>
  <input routerLink="/create"  type="submit" value="Submit" >
</p>
</form>
